:root {
	--highlight-opacity: 0.3;
	--highlight-color: rgb(245, 130, 15, var(--highlight-opacity));
	--highlight-border-radius: 10px;	
	--highlight-box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
}

body {
	overflow: hidden;
}

main {
	width: 100vw;
	height: calc(100vh - 50px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.highlight {
	position: absolute;
	background-color: var(--highlight-color);
	border-radius: var(--highlight-border-radius);
	border: var(--highlight-border);
	box-shadow: var(--highlight-box-shadow);
	pointer-events: none;
	transition: all 0.5s ease;
}

.outline {
	position: absolute;
	border: 5px solid var(--highlight-color);
	border-radius: var(--highlight-border-radius);
	pointer-events: none;
	transition: all 0.5s ease;
}

.details {
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
	min-height: 150px;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	background-color: #F2F2F2;
	display: flex;
	flex-direction: column;
}

.triangle {
	position: absolute;
	top: 40px;
	left: -20px;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  border-right: 20px solid #F2F2F2; 
}